<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	version="2.4"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>coin-teams</display-name>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>coin-teams</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>coin-teams</servlet-name>
		<url-pattern>*.shtml</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>coin-teams</servlet-name>
		<url-pattern>/teams.xml</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>coin-teams</servlet-name>
		<url-pattern>/js/coin-teams.js</url-pattern>
	</servlet-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			classpath:coin-teams-properties-context.xml,
			classpath:coin-teams-context.xml
		</param-value>
	</context-param>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
